# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Local
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.gradle/
